@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}
.light {
  --card-bg: hsl(236, 33%, 92%);
  --bg-color: hsl(0, 0%, 98%);
  --text-color: hsl(0, 0%, 26%);
  --inactive-color: hsl(236, 9%, 61%);
  --active-color: hsl(220, 98%, 61%);
  --hover-color: hsl(235, 19%, 35%);
  --check-color: hsl(236, 11%, 75%);
  --shadow-color: hsla(240, 5%, 85%, 0.603);
  --plus-color: black;
  --bg-img-mobile: url(./assets/bg-mobile-light.jpg);
  --bg-img-desktop: url(./assets/bg-desktop-light.jpg);
}

.dark {
  --bg-color: hsl(235, 21%, 11%);
  --card-bg: hsl(235, 24%, 19%);
  --text-color: hsl(0, 0%, 73%);
  --inactive-color: hsl(234, 11%, 52%);
  --active-color: hsl(234, 39%, 85%);
  --hover-color: hsl(236, 33%, 92%);
  --check-color: hsl(233, 14%, 35%);
  --shadow-color: hsla(0, 0%, 7%, 0.877);
  --plus-color: white;
  --bg-img-mobile: url(./assets/bg-mobile-dark.jpg);
  --bg-img-desktop: url(./assets/bg-desktop-dark.jpg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  font-size: 18px;
  background-color: var(--bg-color);
  min-height: 100vh;
}

header {
  width: 100%;
  height: 280px;
  background: var(--bg-img-desktop) no-repeat;
  background-size: cover;
}

.todos {
  max-width: 510px;
  margin: -210px auto 20px auto;
}

.form .circle {
  border: 1px solid var(--check-color);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 32px;
  transform: translateY(-50%);
  cursor: pointer;
}

.todoContainer {
  width: 100%;
  position: relative;
  list-style: none;
  border-bottom: 1px solid var(--bg-color);
  display: flex;
  align-items: center;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}
.todoContainer .circle {
  border: 1px solid var(--check-color);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 25px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoContainer .circle img {
  display: none;
}

.todoContainer .circle.active img {
  display: initial;
}

.todoContainer li {
  color: var(--text-color);
  width: 100%;
  padding: 10px 30px 10px 70px;
  text-transform: capitalize;
}

.todoContainer li.active {
  text-decoration: line-through;
  color: var(--check-color);
}

.todoContainer .circle.active {
  background: linear-gradient(
    120deg,
    hsl(192, 100%, 67%) 0%,
    hsl(280, 87%, 65%) 100%
  );
  border: none;
}

.todoContainer > img {
  position: absolute;
  right: -22px;
  transition: right 0.3s ease-in-out;
  cursor: pointer;
}

.todoContainer:hover > img {
  right: 15px;
}

.todoFooter {
  font-size: 14px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 20px;
  color: var(--inactive-color);
}

.todoFooter .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoFooter .filters > * {
  margin-right: 15px;
  color: var(--inactive-color);
}

.todoFooter .filters button.active {
  color: var(--BrightBlue);
}

.todoFooter .filters button:hover,
.todoFooter > button:hover {
  color: var(--hover-color);
}

.todoFooter > button {
  color: var(--inactive-color);
  transition: 0.3s ease-in-out;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 540px) {
  header {
    background: var(--bg-img-mobile) no-repeat;
    background-size: contain;
  }

  .todos {
    padding-inline: 10px;
    margin: -250px auto 20px auto;
  }

  .form .circle {
    left: 15px;
  }
  .todoContainer li {
    padding: 10px 30px 10px 55px;
  }

  .todoContainer .circle {
    left: 15px;
  }

  .todoFooter .filters {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: var(--card-bg);
    padding: 1rem;
    width: 100%;
    justify-content: center;
    border-radius: 5px;
    box-shadow: var(--shadow-color) 0px 35px 50px -15px;
  }

  .todoContainer > img {
    right: 10px;
    width: 15px;
    height: 15px;
  }

  .todoContainer:hover > img {
    right: 10px;
  }
}
